<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<br/>
<br/><legend><p class="p1">Enter Details of Donor</p></legend><br/>
<!-- <div>
  <button type="submit" class="btn btn-primary"  (click)="getDnr()">Submit</button>
</div> -->
<div class="container">

  <form  class="form"  #f="ngForm" >
    <div class="form-group">

      <label class="control-label col-sm-2" id="name">Name:</label>
      <div class="col-sm-10">
        <input #Name type="text" class="form-control" id="name" placeholder="name" name='Name' ngModel required pattern="^[a-zA-Z\.]*$">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" id="Date">Date of Birth:</label>
      <div class="col-sm-10">
        <input #date type="date" class="form-control" id="date" placeholder="Date" name='date' ngModel required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" id="Gender">Gender:</label>
      <div class="col-sm-10">
              <select class="form-control" id="Gender" #Gender type="text" name='Gender' ngModel required>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
              <br>
        </div>
      </div>
    <div class="form-group">
      <label class="control-label col-sm-2" id="btype">Blood Type:</label>
      <div class="col-sm-10">
              <select class="form-control" id="btype" #btype type="text" name='btype' ngModel required>
                <option>A+</option>
                <option>A-</option>
                <option>B-</option>
                <option>B+</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>O-</option>
                <option>O+</option>
              </select>
              <br>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-5" for="otype">Organ to be recieved</label>
        <div class="col-sm-10">
          <select class="form-control" id="otype" #otype type="text" name='otype' ngModel required>
              <option>Lung</option>
              <option>Kidney</option>
              <option>Liver</option>
              <option>Eye(corneas)</option>
              <option>Larynx</option>
              <option>Pancreas</option>
              <option>Intestine</option>
            </select>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-2" id="idproof">Enter Identity No:</label>
        <div class="col-sm-10">
          <input #idproof type="text" ngModel required class="form-control" id="idproof" placeholder="enter government given identity proof (aadhar preferred)" ngModel required maxlength="12" >
   <small class="form-text text-muted">Enter 12 digit Aadhar number</small>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" id="cno">Enter Contact No:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="cno" placeholder="Contact Number" name="tel" ngModel required maxlength="10" >
  <small class="form-text text-muted">Enter 10 digit Phone number</small>      
  </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" id="cid">Contact Info:</label>
        <div class="col-sm-10">
          <input type="textarea" class="form-control" id="cid" placeholder="enter Contact information" name="cid" ngModel required>
        </div>
      </div>
      
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid" (click)="addForm(btype.value,otype.value,Gender.value,idproof.value,date.value,Name.value)">Submit</button>
        </div>
      </div>
    </form>
  </div>

