<h3>PROJECT
  HYGIEIA:
</h3>

<p>This project involves the use of permissioned blockchain Sawtooth under the hyperledger umbrella on the use case relating to healthcare in particular to that of Organ Donation. Health is the most important part of a person’s life and a such this project aims to introduce a permissioned blockchain into particular aspects of Organ Donation, in respect to an Organ donor list which is privacy protected and tamper proof in order to curb any exploitation and preserve privacy of members of Donor list,  also it helps in ordering a Recipient list wherein members are classified in a first come first serve basis and priority is set with voting of particular member nodes with the particular criteria set for voting and with a threshold set by the admin. The main aim is to match recipient and donors by traversing transactions.
</p>
<h4>Technologies Used</h4>
<div class="container">
    <div class="row text-center text-lg-left">
<div class="col-lg-3 col-md-4 col-xs-6-inline">
  <a href="#" class="d-block mb-4 h-100">
    <img class ="img-fluid" src="assets/images/d1.png" width="200" height="200">
  </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6-inline">
  <a href="#" class="d-block mb-4 h-100">
    <img class ="img-fluid" src="assets/images/node.png" width="200" height="200">
  </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6-inline">
  <a  href="#" class="d-block mb-4 h-100">
    <img class ="img-fluid" src="assets/images/ang.png" width="200" height="200">
  </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6">
  <a href="#" class="d-block mb-4 h-100">
    <img class ="img-fluid" src="assets/images/rest.jpg" width="200" height="200">
  </a>
</div>
</div>
</div> 